#madre {
  width: 270px;
  height: 170px;
  border: 3px solid #242424;
  margin: auto;
}

.fondoimg {
  width:270px;
  height: 170px;
  transition: 1s ease;
}

#madre:hover .fondoimg {
  opacity: 0.5;
}

.minicaja {
  width: 50px;
  height: 50px;
  border: 3px solid #242424;
  background-image: url("https://i.imgur.com/TdLHiPx.png");
  position: relative;
  margin: -80px 30px;
  transition: transform 2s ease, background 1s ease;
}

.minicaja:hover {
  transform:rotate(225deg);
  background-image: url("https://i.imgur.com/0R3QqW9.png");
}
